.searchBtn {
    border-radius: 12px;
    padding: 12px 51px;
    max-width: 156px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: var(--white);
    background: var(--button);
    border: none
}

.filterForm {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.formLabel {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
}

.mileageInputs {
    display: flex;
    max-width: 320px;
    height: 44px;


}

.inputFieldFrom::placeholder,
.inputFieldTo::placeholder {
    color: var(--main);
    opacity: 1;
}

.inputFieldCommon {
    height: 44px;
    max-width: 160px;
    background-color: var(--inputs);
    border: none;
    padding: 12px 24px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.11;
    color: var(--main);
    outline: none;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.inputFieldFrom {
    composes: inputFieldCommon;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-right: 1px solid var(--gray-light);

}

.inputFieldTo {
    composes: inputFieldCommon;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.inputFieldFrom:active,
.inputFieldTo:active,
.inputFieldFrom:hover,
.inputFieldTo:hover {
    border: 1px solid #8d929a
}