.containerListCar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 32px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.notFound {
    text-align: center;
    padding: 24px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;

}