.detailsPageContainer {
    padding: 84px 120px;
}

.detailsContent {
    display: flex;
    gap: 72px;

}

.leftSection {
    max-width: 640px;
}

.rightSection {
    padding-top: 10px;
}

@media (max-width: 768px) {
    .detailsPageContainer {
        padding: 24px 60px;
    }

    .detailsContent {
        flex-wrap: wrap;
        gap: 12px;
    }
}