:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

body {
  max-width: 1440px;
  text-align: center;

}

#root {
  color: rgb(34, 34, 34);
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  text-shadow: 1px 1px 3px #20f2f5;

}

a:hover {
  color: #f7125b
}