:root {
  --background-banner-desktop: url('./assets/banner/Container.png');
  --background-banner-desktop-2x: url('./assets/banner/Container-2x.png');
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}



#root {
  font-family: var(--font-family);
  color: rgb(34, 34, 34);
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}


button {
  cursor: pointer
}