.mainInfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    margin-bottom: 67px;
}

.titleCar {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.titleSpan {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray);
}

.mileageCar {
    margin-left: 16px;
}

.priceCar {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--button);
    margin-bottom: 32px;
}

.rental,
.specifications {
    margin-bottom: 110px;
}



.titleInfo {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 20px;
}

.textInfo,
.adressCar {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

}

@media (max-width: 768px) {

    .rental,
    .specifications {
        margin-bottom: 30px;
    }

    .mainInfo {
        margin-bottom: 22px;
    }

    .priceCar {
        margin-bottom: 12px;
    }

    .mileageCar {
        margin-left: 4px;
    }

    .titleInfo {
        margin-bottom: 12px;
    }

}